.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

button {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(89, 89, 239);
  color: #fff;
  border: none;
  padding: 10px;
  text-transform: uppercase;
}
